<div class="head">
    <div class="first">
        <h4>About Me</h4>
        <p>
        I’m Hassan Kraira, a software engineering student and front-end developer passionate about teaching computer science. Through Hassan Courses, I offer hands-on lessons in Data Structures, Algorithms, and Java to help students build essential skills.
        </p>
        
    </div>


    <div class="fimg">
    <img src="assets/avatar1.png" alt="">
    <h1>Angry Hassan</h1>
    </div>


    <div class="fimg">
        <img src="assets/avatar2.png" alt="">
        <h1>Happy Hassan</h1>

    </div>
</div>