<div class="fotter">
<div class="first">
<h3>Don't miss anything!</h3>
<div class="emailholder">
    <input class="email" placeholder="Email" type="email">
    <div class="btnholder"> 
        <a class="btn">Sign UP</a>
    </div>

</div>
</div>


<div class="second">
    <a href="#" (click)="scrollup()">
 <img  src="assets/Hassan Logo.png" alt="">
</a>
</div>





<div class="third">
    <div class="third-1">
     <h4>Follow Me</h4>
     <a target="_blank" href="https://www.instagram.com/hassan_kraira2003/">Instagram</a>
     <a target="_blank" href="https://www.facebook.com/hassan.krira.1">Facebook</a>
     <a target="_blank" href="https://www.linkedin.com/in/hassan-krira-5666491a8/">LinkedIn</a>

    </div>
    <div class="third-1">
     <h4>Explore</h4>
     <a href="#courses">Courses</a>
     <a href="#FAQS">FAQ's</a>
     <a href="#about">About</a>
     <a href="#contact">Contact</a>

    </div>

</div>

</div>