<nav>
  <div class="parant">
    <div class="firstChild">
     <img src="assets/Logo.png" class="icon" alt="">
    </div>
    <div class="secondChild">
      <a  href="#courses">Courses</a>
      <a href="#FAQS">FAQ's</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
    <div class="thiredChild">
     <a href="#contact">Lets talk</a>
    </div>
  </div>
</nav>
<app-home ></app-home>
<app-work id="courses"></app-work>
<app-faqs id="FAQS"></app-faqs>
<app-about id="about"></app-about>
<app-contact id="contact"></app-contact>
<app-buttom></app-buttom>